@import "tailwindcss";


@font-face {
    font-family: "Product Sans";
    src: url("/src/assets/fonts/ProductSans-Regular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
  }



  .font-ProductSans {
    font-family: "Product Sans", sans-serif;
  }

  


  
